stages:
  - lint
  - validate
  - plan
  - apply

default:
  image: hashicorp/terraform:1.7.5
  before_script:
    - terraform --version

variables:
  TF_IN_AUTOMATION: "true"
  TF_INPUT: "false"
  # لو عندك أكثر من root module غيّرها
  TF_ROOT: "root_modules"

cache:
  key: ${CI_PROJECT_NAME}
  paths:
    - ${TF_ROOT}/.terraform/

fmt:
  stage: lint
  script:
    - cd "${TF_ROOT}"
    - terraform fmt -check -recursive
  rules:
    - when: always

validate:
  stage: validate
  script:
    - cd "${TF_ROOT}"
    - terraform init -input=false
    - terraform validate
  rules:
    - when: always

plan:
  stage: plan
  script:
    - cd "${TF_ROOT}"
    # Backend remote (اختياري) — شغّله لو أنت عامل S3 backend
    - |
      terraform init -input=false \
        -backend-config="bucket=${TF_STATE_BUCKET}" \
        -backend-config="key=${TF_STATE_KEY}" \
        -backend-config="region=${AWS_DEFAULT_REGION}" \
        -backend-config="encrypt=true"
    - terraform plan -out=tfplan
  artifacts:
    name: "tfplan-${CI_COMMIT_SHORT_SHA}"
    paths:
      - ${TF_ROOT}/tfplan
      - ${TF_ROOT}/.terraform.lock.hcl
    expire_in: 1 day
  rules:
    - when: always

apply:
  stage: apply
  script:
    - cd "${TF_ROOT}"
    - |
      terraform init -input=false \
        -backend-config="bucket=${TF_STATE_BUCKET}" \
        -backend-config="key=${TF_STATE_KEY}" \
        -backend-config="region=${AWS_DEFAULT_REGION}" \
        -backend-config="dynamodb_table=${TF_STATE_DDB_TABLE}" \
        -backend-config="encrypt=true"
    - terraform apply -auto-approve tfplan
  dependencies:
    - plan
  rules:
    # apply فقط على main وبشكل يدوي
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: manual
      allow_failure: false
    - when: never
