apiVersion: apps/v1
kind: Deployment
metadata:
  name: nlp-web
  namespace: nlp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nlp-web
  template:
    metadata:
      labels:
        app: nlp-web
    spec:
      containers:
        - name: nlp-web
          image: ma7moudrafaat/node-task:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 20
